.container{
    background-color: rgb(9,30,40);
    width: 75vw;
    height: 70vh;
    padding: 200px;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.favorites-poster{
    width: 10vw;
    height: auto;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.friend{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 150px;
}

