@media screen and (min-width: 769px) {
    /* Estilos para pantallas grandes */
.sidebar {
    width: 8%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10%;
    margin-right: 20%;
}

.sidebar a {
    text-decoration: none;
    color: #00171F;
}

.sidebar img {
    height: 80%;
    width: 80%;
    padding: 20%;
}
}

@media screen and (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
  }