.container{
    width: 500px;
    height: 380px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 40vh;
}

.container::-webkit-scrollbar{
    display: none;
}